@keyframes animacao{
	from{background-color: red;} /* inicio da animacao */
	to{background-color: yellow;} /* fim da animacao */
}
/* PASSO A PASSO SEPARADO POR PORCENTAGEM */
@keyframes animacao2{
	0%{}
	30%{width: 100px;}
	60%{background-color: red;}
	80%{left: 100px; background-color: blue;} /*left - vai p/ a direita; so funciona com a position: relative*/
	100%{height: 100px;}
}

@keyframes animacao3{
	from{left: 0;}/* inicia na esquerda e vai pra direita "suave", sem teleporte */
	to {left: 200px; background-color: green;}
}

@keyframes animacao4{
	from{left: 0;} /* INICIA A UMA DISTANCIA DE 0 DA ESQUERDA */
	to{left: 500px;} /* ADICIONA UMA DISTANCIA DE 500PX ENTRE O ELEMENTO E A ESQUERDA */ 
}

@keyframes animacao5{
	0%{left: 0px;}
	25%{left: 20px; background-color: blue;}
	60%{left: 100px; background-color: orange;}
	100%{left: 30px; background-color: red;}
}

.animation-div{
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: animacao; /* chama o passo a passo da animacao */
	animation-duration: 5s;
}

.animation-div2{
	width: 200px;
	height: 200px;
	background-color: black;
	animation-name: animacao2;
	animation-duration: 6s;
	position: relative;
}
 
/* animation delay e iteration */
.animation-div3{
	width: 100px;
	height: 100px;
	background-color: purple;
	position: relative;
	animation-name: animacao3;
	animation-duration: 5s;
	animation-delay: 2s; /* espera 2s pra comecar a animacao*/
	animation-iteration-count: infinite; /*ITERATION = CICLOS DA ANIMACAO*/
}

/* TIMING FUNCTION */
.box{
	background-color: orange;
	width: 50px;
	height: 50px;
	position: relative;
	animation-name: animacao4;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

#animation-div4{
	animation-timing-function: linear;
}
#animation-div5{
	animation-timing-function: ease; /* RAPIDO - DEVAGAR - RAPIDO */
}
#animation-div6{
	animation-timing-function: ease-in; /* COMECA LENTO E DEPOIS ACELERA*/
}
#animation-div7{
	animation-timing-function: ease-out; /* SO O FIM EH LENTO*/
}
#animation-div8{
	animation-timing-function: ease-in-out; /* COMECO E FIM LENTOS */
}

/* SHORTHAND - NOME, DURAÇÃO, TIMING-FUNCTION, DELAY, ITERATION */
#animation-div9{
	background-color: darkblue;
	width: 50px;
	height: 50px;
	animation: animacao5 8s ease-out 1.5s infinite;
	position: relative;
} 

/* BOTÃO ANIMAÇÃO */
.btn{
	display: block;
	position: relative;
	padding: 10px;
	margin-bottom: 25px; /* MARGEM DO BOTAO COM OS OUTROS ELEMENTOS*/
	width: 150px;
	height: 75px;
	color: #FFF;
	text-transform: uppercase; /* TUDO MAIUSCULO */
	background-color: #333;
	border: 1px solid #333;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover{
	color: #333;
	background-color: #FFF;
}
 
/* ELEMENTO SE EXPANDE E RETORNA (UTIL PARA DETALHES DE ITENS) */
.transition{
	width: 50px;
	height: 100px;
	background-color: red;
	transition: 2s;
}

.transition:hover{
	width: 300px;
}

/* CALC */
.div-calc{
	height: 250px;
	width: 500px;
	position: relative;
	margin: 20px;
	background-color: #DDD;
	border: 1px solid red;
}

.innerdiv-calc{
	height: 50px;
	margin: 10px;
	position: relative;
	background-color: red;
}

.calc1{
	width: calc(50% + 50px);/* 50% em relação ao pai (div-calc), div-calc width:500px => 250px + 50px */
	/* SOMANDO 300px NO TOTAL */
}

.calc2{
	width: calc(50% - 50px);
}

.calc3{
	width: calc(50% * 2);
	margin: 0;
}

.calc4{
	width: calc(50% / 2);
}

/* GRADIENTE = DEGRADE */
.gradient-box{
	width: 500px;
	height: 200px;
	position: relative;
	margin: 20px;
}

.gradient1{
	background-image: linear-gradient(purple, blue);
}

.gradient2{
	background-image: linear-gradient(to right, purple, blue);
}

.gradient3{
	background-image: linear-gradient(to left, red, yellow);
}

.gradient4{
	background-image: linear-gradient(to top, red, yellow);
}

.gradient5{ /* top right, bottom left*/
	background-image: linear-gradient(to top left, blue, pink, purple, darkblue);
}

.gradient6{
	background-image: linear-gradient(#fff, #CCC, #000);
}

/* GRADIENTE RADIAL, EM RAIO, INICIA DO CENTRO E VAI ATÉ AS BORDAS */
.gradient7{
	background-image: radial-gradient(#323042, #DB9D47, #FF784F);
}

.gradient8{
	background-image: radial-gradient(#323042 10%, #DB9D47 30%, #FF784F);
}

.gradient9{
	background-image: radial-gradient(circle, #323042, #DB9D47, #FF784F);
}

/* FONT FACE */
@font-face{
	font-family: "Lage Grafica"; /*DONIMINA ESSA FONTE */ 
	src: url(fonts/lage_grafica.ttf); /*SIMULA A FONTE Q VEIO DO NOSSO SERVIDOR*/
}

.fontface{
	font-family: "Lage Grafica"; /* CHAMA A FONTE CRIADA*/
}

/* MEDIA QUERY - RESPONSIVIDADE */

/* ESCALA PADRAO */
.mediaquery{
	height: 200px;
	width: 1200px;
	background-color: red;
}

@media (max-width: 1000px){ /* perminte q n extravasse a tela do dispositivo quando sua escala é mudada */
	.mediaquery{
		width: 500px;
		background-color: blue;
	}
}
@media (max-width: 768px){ 
	.mediaquery{
		width: 300px;
		background-color: green;
	}
}
@media (max-width: 512px){ 
	.mediaquery{
		width: 200px;
		background-color: pink;
	}
}

/* BORDER RADIUS */
.div-border{
	width: 100px;
	height: 100px;
	background-color: purple;
	margin: 20px;
}

.border-radius1{
	border-radius: 50%;
}

.border-radius2{
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}